.nav {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-right: 80px;
  line-height: 20px;
  padding-left: 30px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  margin: 0;
  column-gap: 20px;
}

.nav__link {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

/* The following hover I already added with transition style in nav__link */
.nav__link:hover {
  color: #1f69c9;
  transition: color 1s ease;
}
